@font-face {
  font-family: "iconfont"; /* Project id 3405476 */
  src: url("//at.alicdn.com/t/font_3405476_at93f9nvrfe.woff2?t=1652712228953")
      format("woff2"),
    url("//at.alicdn.com/t/font_3405476_at93f9nvrfe.woff?t=1652712228953")
      format("woff"),
    url("//at.alicdn.com/t/font_3405476_at93f9nvrfe.ttf?t=1652712228953")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
