@font-face {
  font-family: 'iconfont';  /* Project id 3405476 */
  src: url('//at.alicdn.com/t/font_3405476_eew68l92hyo.woff2?t=1652695946259') format('woff2'),
       url('//at.alicdn.com/t/font_3405476_eew68l92hyo.woff?t=1652695946259') format('woff'),
       url('//at.alicdn.com/t/font_3405476_eew68l92hyo.ttf?t=1652695946259') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
